:root {
/*  --- COLORS ---*/
    /*text*/
    --light: #FEFFFA;
    --dark: #1d221b;
    /*main*/
    --primary: #204f0a;
    --map: #949482;
    --card: #eaeae0;
    --background: #f5f5ef;
    --map-border: #545443;
    --border: #1734092b;        
    /*maps*/
    --balsam: #676BCC;
    --maple: #85D3D9;
    --redpine: #eca342;
    --whitepine: #d1575a;
    --birch: #d663c6;
    --aspen: #fbd439;
    --oak: #53b351;
/*  --- SPACING ---*/
    --responsive: 800px;
}

.material-symbols-rounded {
    font-size: 40px;
    color: var(--primary);
    font-variation-settings:
    'FILL' 0,        /* 0 = outlined, 1 = filled */
    'wght' 400,  /* Font weight (100-700) */
    'GRAD' 0,        /* Gradient, optional */
    'opsz' 40;      /* Optical size (20-48 recommended) */
}

/* 🔹 1. General Reset & Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 🔹 2. Base HTML & Body Styles */
html {
    font-size: 16px; /* Base font size */
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari */
}

body {
    font-family: "Kumbh Sans", Arial, sans-serif;
    min-height: 100vh; /* Ensure full height */
    color: var(--dark);
    background-color: var(--background);
  /*  display: flex;
    justify-content: center;    */
}

/* 🔹 3. Main Wrapper (Centers Content) */
main {
    height: 100%;
    width: 100%;
    overflow: auto;
    max-width: 1800px; /* Keeps content at a readable width */
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
/*    justify-content: center;*/
    gap: 40px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; 
    margin: auto;
}

h1 {
    padding: 4px;
    margin: 0;
    color: var(--primary);
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
}

p {
    padding: 4px;
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    line-height: 24px;
    opacity: 56%;
}

/* Button row styles */
/*.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
}
button[data-tree="balsam"] {
        background-color: #676BCC;
}
button[data-tree="maple"] {
        background-color: #85D3D9;
}
button[data-tree="redpine"] {
        background-color: #ECA342;
}
button[data-tree="whitepine"] {
        background-color: #D1575A;
}
button[data-tree="birch"] {
        background-color: #D663C6;
}
button[data-tree="aspen"] {
        background-color: #FBD439;
}
button[data-tree="oak"] {
        background-color: #53B351;
}
button {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #6200ea;
    color: white;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}
button.off {
    background-color: rgba(0,0,0,0.4);
}*/


/*------ CARD STYLES ------*/

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
}

.card {
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    background-color: var(--card);
    border: 2px solid var(--border);
    border-radius: 8px;
    color: var(--dark);
    cursor: pointer;
}

.text-wrapper {
    display: flex;
    min-width: 0;
    flex: 1 1;
    flex-direction: column;
    margin-left: 12px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name, .details {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.details {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    opacity: 60%;
}

.card img {
    height: 60px;
}

.card .material-symbols-rounded {
    font-size: 32px;
    color: var(--border);
    margin: 0 12px;
}

.check-icon {
    display: none;
}

.add-icon {
    opacity: 0;
}

.is-selected.card {
    border-color: var(--balsam);
}
.is-selected .check-icon {
    display: block;
    font-variation-settings:'FILL' 1; 
    color: var(--balsam);
}

.is-selected .add-icon {
        display: none;
}

.is-addable .add-icon {
        opacity: 1;
}


/*------ NEW MAP STYLES ------*/

.new-map-container {
    display: flex;
    margin: auto;
    width: 70%;
    max-width: 700px;
/*    background: linear-gradient(to right, #ff00ff, #50C8FF);*/
    /*height: 100%;
    min-height: 200px;
    width: 100%;
    min-width: 200px;*/
    max-height: calc(100vh - 80px);
}

/* TODO: fixed position, mobile and desktop */
/* TODO: boundary cases */
/* TODO: other images */
.new-real-img {
    /*max-height: 100%;
    max-width: 100%;*/
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    background: var(--card);
    padding: 10px;
    border-radius: 8px;
}

.new-img {
/*    aspect-ratio: 849/917;*/
    height: auto;
/*    max-height: calc(100vh - 80px);*/
    /* Only specify width so aspect ratio works */
    width: 100%;
    background: var(--card);
/*    padding: 10px;*/
    border-radius: 8px;
}










/*------ MAP STYLES ------*/

.map-container {
    background-color:var(--card);
    position: relative;
    width: 70%;
    max-width: 700px;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 8px;

} 

.base {
    width: 130%;
    height: auto;
    object-fit: contain;
}

.layer {
    position: absolute;
    width: 130%; /* Adjust size of the image to fit the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

.map {
    position: absolute;
    width: 130%; /* Adjust size of the image to fit the container */
    height: auto; /* Maintain aspect ratio */
    mask: url('images/map_fill.svg'); /* reference to the SVG mask */
    mask-position: top left;
    mask-size: 100% 100%;
    -webkit-mask: url('images/map_fill.svg'); /* for cross-browser compatibility */
    -webkit-mask-position: top left;
    -webkit-mask-size: 100% 100%;

}

.tree{
    display: none;
    mix-blend-mode: overlay;
}

/*maps to start with*/
#balsam, #maple {
    display: block;
}

/*------ RESPONSIVE STYLES ------*/

@media (max-width: 1310px) {

    .forest-icon,
    .card .details {
        display: none;
    }

    .card {
        text-align: left;
    }

    .card img {
        height: 40px;
    }

    .text-wrapper {
        margin-left: 8px;
    }

    .name {
        font-size: 12px;
    }

    .card .material-symbols-rounded {
        font-size: 24px;
        margin: 0 8px;

    }
}


@media (max-width: 800px) { 
    main {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
        margin-top: 24px;
    }

    p {
        font-size: 12px;
        line-height: 16px;
    }

    .main-container {
        order: 2;
        width: 100%;
        margin: 0;
        padding: 16px;
        align-items: center;
        text-align: center;
    }

    .map-container {
        order: 1;
        margin: 0;
    }


}
