:root {
    /*  --- COLORS ---*/
    /*text*/
    --light: #fefffa;
    --dark: #1d221b;
    /*main*/
    --primary: #204f0a;
    --map: #949482;
    --card: #eaeae0;
    --cardHover: #e2e2d4;
    --background: #f5f5ef;
    --map-border: #545443;
    --border: #1734092b;
    /*maps*/
    --balsam: #676bcc;
    --maple: #68B6BC;
    --redpine: #eca342;
    --whitepine: #d1575a;
    --birch: #d663c6;
    --aspen: #EAC225;
    --oak: #53b351;
    --oak-g: #B7C53E;
    --maple-g: #A2845E;
}

.material-symbols-rounded {
    font-size: 40px;
    color: var(--primary);
    font-variation-settings: "FILL" 0, /* 0 = outlined, 1 = filled */ "wght" 400,
        /* Font weight (100-700) */ "GRAD" 0, /* Gradient, optional */ "opsz" 40; /* Optical size (20-48 recommended) */
}

/* 🔹 1. General Reset & Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 🔹 2. Base HTML & Body Styles */
html {
    font-size: 16px; /* Base font size */
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari */
}

body {
    font-family: "Kumbh Sans", Arial, sans-serif;
    min-height: 100vh; /* Ensure full height */
    color: var(--dark);
    background-color: var(--background);
    /*  display: flex;
    justify-content: center;    */
}

/* 🔹 3. Main Wrapper (Centers Content) */
main {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin: auto 0;
}

h1 {
    padding: 4px;
    margin: 0;
    color: var(--primary);
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
}

p {
    padding: 4px;
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    line-height: 24px;
    opacity: 56%;
}

/*------ CARD STYLES ------*/

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
}

.card {
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    background-color: var(--card);
    border: 2px solid var(--border);
    border-radius: 8px;
    color: var(--dark);
    cursor: pointer;
}

.text-wrapper {
    display: flex;
    min-width: 0;
    flex: 1 1;
    flex-direction: column;
    margin-left: 12px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name,
.details {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.details {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    opacity: 60%;
}

.card img {
    height: 60px;
    width: 60px;
}

.card .material-symbols-rounded {
    font-size: 32px;
    color: var(--border);
    padding: 12px;
}

.check-icon {
    display: none;
}

.add-icon {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 1;
}

.is-selected.card {
    border-color: var(--balsam);
}
.is-selected .check-icon {
    display: block;
    font-variation-settings: "FILL" 1;
    color: var(--balsam);
}

.is-selected .add-icon {
    display: none;
}

.add-icon::before {
    content: "";
    display: flex;
    position: absolute;
    left: 0px;
    width: 2px;
    height: 24px;
    background-color: var(--border);
    border-radius: 2px;
    opacity: 40%;
}

/*------ HOVER STYLES ------*/
/*desktop online, wouldnt see on touchscreens*/
.card:hover {
    background-color: var(--cardHover);
}
.add-icon:hover {
    color: var(--map);
}

/*------ MAP STYLES ------*/

.map-container {
    position: relative;
    display: flex;
    margin: auto 0;
    width: 70%;
    max-width: 700px;
    max-height: calc(100vh - 80px);

    /* Sticky positioning */
    position: sticky;
    top: 0px;
}

/* Base holds space, determines the width and height. */
.svg-base {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 8px;
    background: var(--card);
}

.overlay {
    display: none;
    mix-blend-mode: overlay;
    filter: saturate(1.5);
}

.is-visible {
    display: block;
}

.animation-container {
    display: none;
}
.animation-container.is-visible {
    display: block;
}

/*------ RESPONSIVE STYLES ------*/

@media (max-width: 1310px) {
    .card .details {
        display: none;
    }

    .card {
        text-align: left;
    }

    .card img {
        height: 40px;
        width: 40px;
    }

    .text-wrapper {
        margin-left: 8px;
    }

    .name {
        font-size: 12px;
    }

    .card .material-symbols-rounded {
        font-size: 24px;
        padding: 8px;
    }
}

@media (max-width: 800px) {
    .forest-icon {
        display: none;
    }

    main {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        width: 100%;
        gap: 0;
        padding: 16px;
        /* Let map-container handle this so it can cover what goes behind it */
        padding-top: 0;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
        margin-top: 24px;
    }

    p {
        font-size: 12px;
        line-height: 16px;
    }

    .controls-container {
        order: 2;
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .map-container {
        order: 1;
        margin: 0;
        /* Ignore half the padding */
        max-height: calc(50vh + 40px);
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        background: linear-gradient(
            to bottom,
            var(--background) 92%,
            transparent 100%
        );
        /* Take over top padding from main, also add padding to the bottom so
        that the sticky map has some space around it */
        padding: 16px 0;
    }
}
