body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

h1 {
padding: 8px;
margin: 0;
}

p{
  padding: 8px;
  color: rgba(0, 0, 0, .5);
  margin-top: 0;
}

/* Button row styles */
.button-row {
    display: flex;
    width: 80%;
    max-width: 800px;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

button[data-tree="balsam"] {
    background-color: #676BCC;
}
button[data-tree="maple"] {
    background-color: #85D3D9;
}
button[data-tree="redpine"] {
    background-color: #ECA342;
}
button[data-tree="whitepine"] {
    background-color: #D1575A;
}
button[data-tree="birch"] {
    background-color: #D663C6;
}
button[data-tree="aspen"] {
    background-color: #FBD439;
}
button[data-tree="oak"] {
    background-color: #53B351;
}

button {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #6200ea;
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

button.off {
  background-color: rgba(0,0,0,0.4);
}

.container {
  background-color: black;
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: auto; 
  display: flex;
    flex-direction: column; /* Stack the images vertically */
    align-items: flex-start; /* Align images to the left */
} 

.base {
  width: 100%;
  height: auto;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust size of the image to fit the container */
  height: auto; /* Maintain aspect ratio */
}

.tree{
  display: none;
  mix-blend-mode: overlay;
}

#balsam, #maple {
  display: block;
}